workflow_review_google.json
{
    "name": "Flat Lili - Avaliação Google (Pós-Checkout)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 14 * * *"
                        }
                    ]
                }
            },
            "id": "trigger-checkout",
            "name": "Todo dia às 14:00",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                820,
                360
            ]
        },
        {
            "parameters": {
                "operation": "getAll",
                "projectId": "seu-projeto-firebase",
                "collection": "reservations",
                "options": {},
                "query": "checkOutDate == {{ $today.format('yyyy-MM-dd') }}"
            },
            "id": "firestore-checkout",
            "name": "Buscar Check-outs de Hoje",
            "type": "n8n-nodes-base.googleFirestore",
            "typeVersion": 1,
            "position": [
                1040,
                360
            ],
            "credentials": {
                "googleFirebaseFirestoreOAuth2Api": {
                    "id": "CRIE_SUA_CREDENTIAL_NO_N8N",
                    "name": "Conta Firebase"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.z-api.io/instances/SUA_INSTANCIA_AQUI/token/SEU_TOKEN_AQUI/send-text",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Client-Token",
                            "value": "SEU_CLIENT_TOKEN_AQUI"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "phone",
                            "value": "5592992808011"
                        },
                        {
                            "name": "message",
                            "value": "=Olá {{ $json.guestName }}! Tudo bem?\n\nEspero que tenha gostado da estadia no Flat da Lili! 🌻\n\nSeria incrível se você pudesse deixar uma avaliação rápida no Google. Ajuda muito a gente!\n\nÉ só clicar aqui: https://search.google.com/local/writereview?placeid=ChIJz0sHkXpxcwcRwekJL9cyLjY\n\nObrigado e volte sempre! 🙏"
                        }
                    ]
                },
                "options": {}
            },
            "id": "zapi-review",
            "name": "Pedir Avaliação",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1260,
                360
            ]
        }
    ],
    "pinData": {},
    "connections": {
        "Todo dia às 14:00": {
            "main": [
                [
                    {
                        "node": "Buscar Check-outs de Hoje",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Buscar Check-outs de Hoje": {
            "main": [
                [
                    {
                        "node": "Pedir Avaliação",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "1",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "unknown"
    }
}